<h3>Input a new vehicle below:</h3>
<form action="/add_vehicle">
  <input type="year" id="year" name="year" required>
  <input type="text" id="makeModel" name="makeModel" required>
  <input type="text" id="price" name="price" required>
  <input type="text" id="miles" name="miles" required>
  <input type="text" id="drivetrain" name="drivetrain" required>
  <button type="submit" name="button">Add Vehicle!</button>
</form>
